
<html>
	<head>   
		<meta charset="UTF-8">
		<title>欢迎界面</title>
		<link rel="stylesheet" type="text/css" href="../../../Public/easyui/themes/default/easyui.css"/>
		<link rel="stylesheet" type="text/css" href="../../../Public/easyui/themes/icon.css"/>
		<script type="text/javascript"  src="../../../Public/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="../../../Public/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript">
			function addTabs(title,url){
				$('#tt').tabs('add',{
					title: title,
					selected: true,
					closable:true,
					content:'<iframe src="'+url+'" width="100%" height="100%" frameborder="0"></iframe>'
					//...
				});
								
			}
		</script>
	</head>
	<body class="easyui-layout">  
        <div data-options="region:'north',split:false" style="height:50px;"></div>  
         
        <div data-options="region:'west',title:'菜单列表',split:false" style="width:200px;">
      		<ul  class="easyui-tree">   
				<volist name="Think.session.menus" id="m1">
					<if condition = "$m1.level eq 0">
						<li>
							<span>{$m1.mname}</span>
							<ul>
								<assign name="mid" value="$m1.mid" />
								<volist name="Think.session.menus" id="m2">
									<if condition = "$m2.level eq 1 AND $m2.parentid eq $mid">
										<li><a href = "javascript:addTabs('{$m2.mname}','{$m2.url}');">{$m2.mname}</a></li>
									</if>
								</volist>
							</ul>
						</li>
					</if>
				</volist>
			</ul>
    	</div>   
    	
        <div data-options="region:'center'" style="background:#eee;">
			<div id="tt" class="easyui-tabs" data-options="fit:true">
				<div title="Tabl" style="padding:20px">
					<span>欢迎你</span>
				</div>
			</div>
        </div> 
    </body>  


</html>